@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --ff:"Karla", sans-serif;
  --h2:500 1rem var(--ff);
  --color-primary: hsl(213, 50%, 90%);
  --color-pre-primary: hsl(213, 50%, 95%);
  --color-secondary: hsl(213, 50%, 10%);
  --color-accent: hsl(218, 80%, 20%);
  --color-tertiary: hsl(0, 80%, 30%);
  --color-hover: hsl(218, 80%, 80%);
}

.dark {
  --color-primary: hsl(213, 50%, 10%);
  --color-pre-primary: hsl(213, 50%, 15%);
  --color-secondary: hsl(213, 50%, 90%);
  --color-accent: hsl(218, 80%, 80%);
  --color-tertiary: hsl(0, 80%, 60%);
  --color-hover: hsl(218, 40%, 60%);
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  height: 100vh;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
h2{
  font: var(--h2);
  padding:0.4rem;
  margin: 0;
}
#editor-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.left-container {
  display: flex;
  flex-direction: column;
  width: 12vw;
  background-color: var(--color-pre-primary);
  border-right: 1px solid var(--color-hover);
}
.center-container {
  display: flex;
  flex-direction: column;
  width: 64vw;
}
.right-container {
  display: flex;
  flex-direction: column;
  width: 24vw;
  background-color: var(--color-pre-primary);
  border-left: 1px solid var(--color-hover);
}
.tools-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  background-color: var(--color-pre-primary);
}
/* Toolbar */
.toolbar, .sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.2rem;
}


/* Properties Panel */
.properties-panel,
.hierarchy-panel {
 height: 100%;
 display: flex;
 flex-direction: column;
}


.properties-panel label {
  display: block;
  margin-bottom: 5px;
}

.properties-panel input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

/* Hierarchy Panel */
.hierarchy-panel {
  overflow-y: auto;
  grid-column: 1 / 2;
}

.tool-btn {
  position: relative;
  padding: 0.4rem;
  background-color: var(--color-primary);
  color: var(--color-accent);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-btn:hover {
  background-color: var(--color-hover);
  color: var(--color-secondary);
}
.tooltip {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-secondary);
  color: var(--color-pre-primary);
  padding: 0.5rem 1rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.tool-btn:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
.active {
  background-color: var(--color-accent);
  color: var(--color-pre-primary);
}

.disabled {
  background-color: var(--color-pre-primary);
  color: var(--color-hover);
  cursor: not-allowed;
}